<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>DebateBot</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/forty-debate-bot/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/forty-debate-bot/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/forty-debate-bot/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>DebateBot</strong> <span>Research For You</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="landing.html">Landing</a></li>
							<li><a href="generic.html">Generic</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>



				<!-- Main -->
					<div id="main">


  <!-- <form id="chatform" action="/search/" method="post">{% csrf_token %}
    <table id="chat">
      <tbody>

      </tbody>
      <tfoot>
	   {% if  Ans %}
	   <tr>Answer</tr>
	   {% for i in Ans %}

	   			<td>Ans</td>
	   	{% endfor %}
	   {% endif %}
      <tr>
        <td>Ask Anything:</td>
        <td colspan=2>
          <input id="message" type="text" placeholder="Does The Dude Abide?">
          <button value="submit" type="submit" id="go">Ask</button>
        </td>
      </tfoot>
    </table>
  </form> -->
						<form action="/qa/search" method="post">
							<table id="search">
								<tbody>

{% if  Ans %}
<tr>
	<th>
        DebateBot:</th>
    <td>{{ Ans }}</td>
</tr>
	   {% endif %}
    <tr>
        <th>
            <label for="id_search_query">Question:</label></th>
                <td><input id="id_search_query" maxlength="200" name="search_query" type="text" /></td></tr>
							 <tr>
                                 <th><label for="id_article">Article:</label>
                                 </th>
                                 <td>
                                     <input id="id_article" maxlength="5000" name="article" type="text" /></td>
                             </tr>
                                <tr><td>
                                    <input type="submit" value="Submit" /></td>
                                     </tr>
                                 <!--<td>-->
                                     <!--<input id="id_article" maxlength="5000" name="article" type="text" /></td></tr>-->
    <!--<input type="submit" value="Submit" />-->
								</tbody>
							</table>
</form>


{#					<!-- One -->#}
{#							<section id="one" class="tiles">#}
{#								<article>#}
{#									<span class="image">#}
{#										<img src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/images/pic01.jpg" alt="" />#}
{#									</span>#}
{#									<header class="major">#}
{#										<h3><a href="landing.html" class="link">Aliquam</a></h3>#}
{#										<p>Ipsum dolor sit amet</p>#}
{#									</header>#}
{#								</article>#}
{#								<article>#}
{#									<span class="image">#}
{#										<img src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/images/pic02.jpg" alt="" />#}
{#									</span>#}
{#									<header class="major">#}
{#										<h3><a href="landing.html" class="link">Tempus</a></h3>#}
{#										<p>feugiat amet tempus</p>#}
{#									</header>#}
{#								</article>#}
{#								<article>#}
{#									<span class="image">#}
{#										<img src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/images/pic03.jpg" alt="" />#}
{#									</span>#}
{#									<header class="major">#}
{#										<h3><a href="landing.html" class="link">Magna</a></h3>#}
{#										<p>Lorem etiam nullam</p>#}
{#									</header>#}
{#								</article>#}
{#								<article>#}
{#									<span class="image">#}
{#										<img src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/images/pic04.jpg" alt="" />#}
{#									</span>#}
{#									<header class="major">#}
{#										<h3><a href="landing.html" class="link">Ipsum</a></h3>#}
{#										<p>Nisl sed aliquam</p>#}
{#									</header>#}
{#								</article>#}
{#								<article>#}
{#									<span class="image">#}
{#										<img src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/images/pic05.jpg" alt="" />#}
{#									</span>#}
{#									<header class="major">#}
{#										<h3><a href="landing.html" class="link">Consequat</a></h3>#}
{#										<p>Ipsum dolor sit amet</p>#}
{#									</header>#}
{#								</article>#}
{#								<article>#}
{#									<span class="image">#}
{#										<img src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/images/pic06.jpg" alt="" />#}
{#									</span>#}
{#									<header class="major">#}
{#										<h3><a href="landing.html" class="link">Etiam</a></h3>#}
{#										<p>Feugiat amet tempus</p>#}
{#									</header>#}
{#								</article>#}
{#							</section>#}
{##}
{#						<!-- Two -->#}
{#							<section id="two">#}
{#								<div class="inner">#}
{#									<header class="major">#}
{#										<h2>Massa libero</h2>#}
{#									</header>#}
{#									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>#}
{#									<ul class="actions">#}
{#										<li><a href="landing.html" class="button next">Get Started</a></li>#}
{#									</ul>#}
{#								</div>#}
{#							</section>#}
{##}
{#					</div>#}
{##}
{#				<!-- Contact -->#}
{#					<section id="contact">#}
{#						<div class="inner">#}
{#							<section>#}
{#								<form method="post" action="#">#}
{#									<div class="field half first">#}
{#										<label for="name">Name</label>#}
{#										<input type="text" name="name" id="name" />#}
{#									</div>#}
{#									<div class="field half">#}
{#										<label for="email">Email</label>#}
{#										<input type="text" name="email" id="email" />#}
{#									</div>#}
{#									<div class="field">#}
{#										<label for="message">Message</label>#}
{#										<textarea name="message" id="e-mail" rows="6"></textarea>#}
{#									</div>#}
{#									<ul class="actions">#}
{#										<li><input type="submit" value="Send Message" class="special" /></li>#}
{#										<li><input type="reset" value="Clear" /></li>#}
{#									</ul>#}
{#								</form>#}
{#							</section>#}
{#							<section class="split">#}
{#								<section>#}
{#									<div class="contact-method">#}
{#										<span class="icon alt fa-envelope"></span>#}
{#										<h3>Email</h3>#}
{#										<a href="#">information@untitled.tld</a>#}
{#									</div>#}
{#								</section>#}
{#								<section>#}
{#									<div class="contact-method">#}
{#										<span class="icon alt fa-phone"></span>#}
{#										<h3>Phone</h3>#}
{#										<span>(000) 000-0000 x12387</span>#}
{#									</div>#}
{#								</section>#}
{#								<section>#}
{#									<div class="contact-method">#}
{#										<span class="icon alt fa-home"></span>#}
{#										<h3>Address</h3>#}
{#										<span>1234 Somewhere Road #5432<br />#}
{#										Nashville, TN 00000<br />#}
{#										United States of America</span>#}
{#									</div>#}
{#								</section>#}
{#							</section>#}
{#						</div>#}
{#					</section>#}
{##}
{#				<!-- Footer -->#}
{#					<footer id="footer">#}
{#						<div class="inner">#}
{#							<ul class="icons">#}
{#								<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>#}
{#								<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>#}
{#								<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>#}
{#								<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>#}
{#								<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>#}
{#							</ul>#}
{#							<ul class="copyright">#}
{#								<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</footer>#}
{##}
{#			</div>#}

		<!-- Scripts -->

			<script src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/assets/js/jquery.min.js"></script>
			<script src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/assets/js/jquery.scrolly.min.js"></script>
			<script src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/assets/js/jquery.scrollex.min.js"></script>
			<script src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/assets/js/skel.min.js"></script>
			<script src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="https://s3.us-east-2.amazonaws.com/forty-debate-bot/assets/js/main.js"></script>

	 <!--  <script type="text/javascript" src='https://s3.amazonaws.com/aws-website-debatebot-a251x/JS/chat.js'></script> -->
  <script type="text/javascript" src='https://s3.amazonaws.com/aws-website-debatebot-a251x/JS/reconnecting-websocket.min.js'></script>

	</body>
</html>
